div#sidebar {
  margin-top: 25px;
  display: inline-block;
  vertical-align: top;
  width: 380px;
  height: 740px;
  overflow-y: scroll;
}

div#sidebar div#code-block {
}

.syntaxhighlighter .line.highlighted.alt1, .syntaxhighlighter .line.highlighted.alt2 {
    background-color: rgb(4, 108, 134) !important;
}

div#vis {
  display: inline-block;
}



path.link {
  stroke:#ccc;
}

svg {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
}

b {
  font-weight: 900;
}

g.node-g text {
  font-size: .8em;
  fill: #676767;
}

.node {
  stroke: silver;
/*  stroke-width: 1px;*/
}

.link {
  fill: none;
  stroke: silver;
  stroke-width: 1px;
}

.selected {
  stroke: red !important;
}

g.label text {
	font-size: .7em;
}
